[submodule "depthai-core"]
	path = depthai-core
	url = https://github.com/UWARG/depthai-core.git
[submodule "mavlink-udp-proxy"]
	path = mavlink-udp-proxy
	url = https://github.com/UWARG/mavlink-udp-proxy.git
[submodule "oak_d_vins_cpp"]
	path = oak_d_vins_cpp
	url = https://github.com/UWARG/oak_d_vins_cpp
[submodule "VINS-Fusion"]
	path = VINS-Fusion
	url = https://github.com/UWARG/VINS-Fusion.git
